<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styleResult.css">
    <title>Quiz</title>
</head>

<body>


    <div id="txt">
        <p>Cybersecurity Analysis</p>
    </div>
    <section class="analysis">
        <section class="questionWiseSL">

            <ul>
                <div class="quesResult">
                    <div>
                        <li>FR 1 : <%= fr_sl_map["FR1"][0] %></li>
                        <li>FR 2 : <%= fr_sl_map["FR2"][0] %></li>
                        <li>FR 3 : <%= fr_sl_map["FR3"][0] %></li>
                        <li>FR 4 : <%= fr_sl_map["FR4"][0] %></li>
                        <li>FR 5 : <%= fr_sl_map["FR5"][0] %></li>
                        <li>FR 6 : <%= fr_sl_map["FR6"][0] %></li>
                        <li>FR 7 : <%= fr_sl_map["FR7"][0] %></li>

                    </div>
                </div>
            </ul>


        </section>

    </section>

    <div id="btn"><a href="/" role="button"><img src="img/Group2142.png" alt=""></a></div>


</body>

</html>